/node_modules/
/test/integration/fixtures/*
!/test/integration/fixtures/eleventy-project-default/
!/test/integration/fixtures/eleventy-project-rev/
!/test/integration/fixtures/eleventy-project-computed-data/
